{{ define "main" }}

<style type="text/css">
 {{ if .Params.featured_image }}
  {{ with .Resources.GetMatch (.Params.featured_image) }}
    {{ $extraSmall := .Resize "768x" }}
    {{ $small := .Resize "992x" }}
    {{ $medium := .Resize "1200x" }}
    {{ $large := .Fill "1920x516 center"}}
    
    @media (max-width: 767px) {
      .background-hero-div {
        background-image: url('{{ $extraSmall.RelPermalink }}')
      }
    }

    @media (min-width: 768px) {
      .background-hero-div {
        background-image: url('{{ $small.RelPermalink }}')
      }
    }

    @media (min-width: 992px) {
      .background-hero-div {
        background-image: url('{{ $medium.RelPermalink }}')
      }
    }

    @media (min-width: 1200px) {
      .background-hero-div {
        .background-image: url('{{ $large.RelPermalink }}')
      }
    }
  {{ end }}
{{ end }}
</style>
<div class="background-hero-div">
    <div class="background-hero-title-block">
      <h1 class="background-hero-title-text">{{ .Title | markdownify}}</h1>
      <h2 class="background-hero-subtitle-text" style="margin-top: 0;">
        {{- if .Params.Subtitle }}
        {{ .Params.Subtitle | markdownify }}
        {{- else }}
        &nbsp;
        {{- end }}
      </h2>
      <p class="background-hero-description-text">{{ .Params.Description }}</p>
      <p class="background-hero-p-text">
        <span style="font-variant: small-caps">published:</span>&nbsp; <strong>{{ .PublishDate.Format "January 2, 2006" }}</strong><span class="pokey" style="font-variant: small-caps;">&nbsp;utc</span><br />
        <span class="pokey">
        {{- if ne .PublishDate .Lastmod }}
        <span style="font-variant: small-caps">last modified:</span>&nbsp; {{ .Lastmod.Format "January 2, 2006" }}<span class="pokey" style="font-variant: small-caps;">&nbsp;utc</span>
        {{- else }}
        &nbsp;
        {{- end }}
        </span>
      </p>
    </div>
  </div>

  {{- if isset .Params "featured_image_caption" }}
    <p class="featured-image-caption">{{ index .Params "featured_image_caption" }}</p>
  {{- end }}
<div class="post-line"></div> 

<div class="container-narrower">
  <article class="article">
    {{ .Content }}
  </article>
</div>
  
  {{ if or .PrevPage .NextPage }}
    <div class="bg-dark">
      <h3 class="ctr wht"><a href="/posts/" style="border-bottom: 0;">Other posts</a></h3>
			<p class="ctr">
				{{ with .NextInSection }}
					<strong>Next</strong>:
					<a class="next" href="{{.Permalink}}"> {{.Title}}</a>
					{{ end }}
			</p>
			<p class="ctr">
				{{ with .PrevInSection }}
					<strong>Previous</strong>:
					<a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
					{{ end }}
			</p>
    </div>
  {{ end }}

{{ end }}